# Python OutPut

In [1]:
print("Hello Duniya")

Hello Duniya

In [2]:
print(3.4)

3.4

In [3]:
print('hello',1,5.6,True)

hello 1 5.6 True

In [4]:
# sep
print('tushar','gupta',sep="/")

tushar/gupta

In [5]:
print("q","s",sep='\n')

q
s

In [6]:
# end
print("tushar",end='|')
print("gupta",end='')

tushar|gupta

# Data Type

In [7]:
# Integer --> 1e308
# decimal --> 1.7e308
# boolean --> True/False
# Text/String --> 'Hello World'
# Complex --> print(5+6j)
# list --> [1,2,3,4,5]
# tuple --> (1,2,3,4,5)
# set --> {1,2,3,4,5}
# dictionary --> {'name':'tushar','gender':'Male'}

In [8]:
# type([1,2,3])
type([1,2,3])

list

# Variables

In [9]:
name="tushar"
# name --> variable
name

'tushar'

In [10]:
a=3
b=4
print(a+b)

7

# Static vs Dynamic Typing

In [11]:
# Dynamic Typing --> you do not tell the datatype of variable
a=6

In [12]:
# static type--> in C and C++ //
# int a=10;

# Static vs Dynamic Binding

In [13]:
# dynamic binding
a=10
print(a)
a="tushar"
print(a)

10
tushar

In [14]:
# static binding
# int a=12; now you cant store any other type of value in a;

# styling declaration technique

In [15]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [16]:
a=b=c = 5
print(a,b,c)

5 5 5

# Comments

In [17]:
# hi my name is tushar
# this is the simple comment

# Keyword & identifier

In [18]:
# Compilation --> process of converting a High level Language to Low level language(0 / 1)

In [19]:
# some languages are compiled langauges - -> like java, c
# they convert whole code in 1/0 in one step

In [20]:
# some languages are interpreter languages -- > python
# they convert the code in 0/1 by step by step

In [21]:
# keyword are the reserve words used by compiler and interpreter to convert code in lower level langauges

In [22]:
# 32 keywords in python

In [23]:
# identifier --> name of variable, function, class to identify

In [24]:
_ = "tushar"
print(_)

tushar

# User Input

In [25]:
# static Vs Dynamic software

In [26]:
input()

''

In [27]:
input("enter the no ")

enter the no

''

In [28]:
a = input("enter the no")
b = input("enter the second no")
a+b

enter the no
enter the second no

''

# Type Coversion

In [29]:
# string is the universal format
# implicit type conversion ==> 9+3.4
# explicit type conversion  2+'4'

In [30]:
type(int('4'))

int

In [31]:
# int(4+5j) --> error

In [32]:
str(6)

'6'

In [33]:
float(4)

4.0

In [64]:
a = int(input("enter the no"))
b = int(input("enter the second no"))
a+b

enter the no12
enter the second no12

24

In [35]:
# Literals
a= 0b1010 #binary Literals
b= 100 #Decimal Literal
c= 0o310 #octal Literal
d= 0x12c #hexadecimal Literal

In [36]:
print(a,b,c,d)

10 100 200 300

In [37]:
float_a = 1.6e3
float_a

1600.0

In [38]:
# complex no
a = 3.14j
print(a.real,a.imag)

0.0 3.14

In [39]:
# String
a = 'Tushar'
b = "tushar"
c = "c"
multiline_str = """this is my mutliline string"""

In [40]:
print(a,b,c,multiline_str)

Tushar tushar c this is my mutliline string

In [41]:
unicode = u"\U0001f600\U0001F606\U0001F923"
unicode

'😀😆🤣'

In [42]:
# boolean
# True--> 1
# False--> 0
a = True+4
b = False+10
print(a,b)

5 10

In [43]:
# you can't declare the variable in python like
# k
# a=5
# c=4

In [44]:
# k will declare
k=None
print(k)

None

# Operators in Python

In [45]:
# Arithmetic
print(1+3)
print(1-3)
print(1*3)
print(1/3)
print(1//3)
print(1%3)
print(3**2)

4
-2
3
0.3333333333333333
0
1
9

In [46]:
# relational operators
print(1>2)
print(2<3)
print(1>=3)
print(2<=3)
print(1==1)
print(1!=1)

False
True
False
True
True
False

In [47]:
# Logical Operator
# and
# or 
# not

print(1 and 1)
print(1 and 0)
print(1 or 0)
print(not 0)
print(not 1)

1
0
1
True
False

In [48]:
# Bitwise Operators
print(2 & 3)
print(2 | 3)
print(2 ^ 3)
print(~3)
print( 4 >> 2 )
print( 5 << 2 )

2
3
1
-4
1
20

In [49]:
# Assignment Operators
a=2
a+=2
a*=2
a-=2
print(a)
# a++ / ++a --> not allow in python

6

In [50]:
# Membership Operator
# in
# not in
print("d" in "delhi")
print(1 in [2,3,5,6])
print(1 not in [2,3,5,6])

True
False
True

# if-else in python

In [51]:
if 1>2:
    pass
else:
    pass

In [52]:
if 1>2:
    pass
elif 2>1:
    pass
else:
    pass

# Modules in Python

# math
# random
# constant
# datetime

In [23]:
#  math
import math
print(math.factorial(5))
print(math.floor(6.8))
print(math.ceil(5.4))
print(math.sqrt(3))

120
6
6
1.7320508075688772

In [54]:
# keyword
import keyword as kd
print(kd.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [55]:
# random
import random as rn
print(rn.randint(10,20))

13

In [56]:
# datetime
import datetime as dt
print(dt.datetime.now())

2023-01-22 14:02:03.607818

In [57]:
# help('modules') --> it will return all module name

# Loops in python

In [58]:
# while loop
# for loop

In [67]:
no = int(input("enter the no."))
i=1
while i <11:
    print(no*i)
    i=i+1

enter the no.12
12
24
36
48
60
72
84
96
108
120

In [66]:
no = int(input("enter the no."))
i=1
while i <11:
    print(no,"*",i,"=",no*i)
    i=i+1

enter the no.12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [61]:
# while with else

i=1
while i<3:
    print(i)
    i+=1
else:print("limit cross")

1
2
limit cross

In [1]:
import random as rn
no = int(rn.randint(1,10))
i=1
t=None
while t!=no:
    t = int(input("enter the no"))
    i+=1
else:print("correct!")

enter the no11
enter the no1
enter the no3
enter the no4
enter the no5
enter the no6
enter the no10
enter the no2
enter the no0
enter the no7
enter the no8
enter the no9
correct!

In [63]:
# for loop in python
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [7]:
for i in range(1,11,2):
    print(i,end=' ')

1 3 5 7 9

In [8]:
for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

In [12]:
for i in 'Delhi':
    print(i,end=' ')

D e l h i

In [2]:
curr_popu = 10000
for i in range(10,0,-1):
    print(i,curr_popu)
    curr_popu = curr_popu/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [6]:
n = int(input("enter n "))
result=0
fact=1
for i in range(1,n+1):
    fact = fact*i
    result = result + i/fact
print(result)

enter n 10
2.7182815255731922

# Nested Loops

In [10]:
for i in range(1,6):
    for j in range(1,6):
        print(i,j,end='|')

1 1|1 2|1 3|1 4|1 5|2 1|2 2|2 3|2 4|2 5|3 1|3 2|3 3|3 4|3 5|4 1|4 2|4 3|4 4|4 5|5 1|5 2|5 3|5 4|5 5|

# Pattern

In [2]:
# *
# **
# ***
n = int(input("enter the no."))
for i in range(n+1):
    for j in range(i):
        print('*',end=' ')
    print()

enter the no.3

*
* *
* * *

In [16]:
n = int(input("enter the no."))
for i in range(n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    for j in range(i-1,0,-1):
        print(j,end=' ')
    print()

enter the no.5

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

# LOOP CONTROL STATEMENT

In [17]:
# break
# continue
# pass

In [21]:
for i in range(10):
    if i==4:break
    print(i,end=" ")

0 1 2 3

In [22]:
for i in range(10):
    if i==4:continue
    print(i,end=" ")

0 1 2 3 5 6 7 8 9

In [32]:
lower = int(input("lower no."))
high = int(input("higher no."))
for i in range(lower,high+1):
    t = int(math.sqrt(i))
    check=0
    for j in range(2,t+1):
        if i%j==0:
            check=1
            print(i," is not a Prime")
            break
    if check==0 :print(i,"is prime no.")

lower no.2
higher no.10
2 is prime no.
3 is prime no.
4  is not a Prime
5 is prime no.
6  is not a Prime
7 is prime no.
8  is not a Prime
9  is not a Prime
10  is not a Prime

In [33]:
for i in range(10):
    pass